@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-heading: 'Syne', sans-serif;
  --font-sans: 'Outfit', sans-serif;

  --color-primary: #00d4ff;
  --color-background: #0d1117;
}

:root {
  --ui-bg: var(--color-background);
}
